*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    border: 1px solid black;
}

.mainHeader {
    text-align: center;
    /*border: 1px solid black;*/

}

.navBar{
    float: left;
    /*border: 1px solid black;*/
}

.row{
    margin: 5px;  
}